<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- <link rel="stylesheet" href="public/assets/css/style.css" type="text/css" /> -->
		<title>Eat Da Burger!</title>
	</head>
	<body>
		<a href="/"><h1>Burgers</h1></a>

		
	
		<br><br>
		{{{ body }}}

		<br><br><br><br>

//     Box to enter burger
// submit button
		// add burgers to right side
		// attach button to "burger" for devour


<form action="/users/create" method="POST">
  <input type="text" name="burger" placeholder="place your burger order here"></input>
  <input type="submit"></input>
</form>



<!-- 
		<a href="/tweets/new">Make a new tweet here</a>
 -->
	</body>
</html>


<script>

/// put js for submit button
	// make sure to put :
    //event.preventDefault();

    // to prevent page from returning0





// <form action="/users/create" method="POST">
//   <input type="text" name="burger" placeholder="place your burger order here"></input>
//   <input type="submit"></input>
// </form>



// put button on click event here
// call update with the id of the button clicked
// update devoured to true
// update_data = current_timestamp(6)




</script>
