<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat Da Burger!</title>
	</head>
	<body>
		<a href="/"><h1>Burgers</h1></a>

		
		<!-- <a href="/tweets/new">Make a new tweet here</a> -->
		<br><br>
		{{{ body }}}

//     Box to enter burger
// submit button
		// add burgers to left side
		// attach button to "burger" for devour
<!-- 
		<a href="/tweets/new">Make a new tweet here</a>
 -->
	</body>
</html>
