<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- <link rel="stylesheet" href="public/assets/css/style.css" type="text/css" /> -->
		<title>Eat Da Burger!</title>
	</head>
	<body>
		<a href="/"><h1>Burgers</h1></a>

		
		<!-- <a href="/tweets/new"></a> -->
		<br><br>
		{{{ body }}}

		<br><br><br><br>

//     Box to enter burger
// submit button
		// add burgers to right side
		// attach button to "burger" for devour
<!-- 
		<a href="/tweets/new">Make a new tweet here</a>
 -->
	</body>
</html>
